<div class="row" *ngIf="isSubmission">
    <div class="col-12">
        <h6>{{title}}</h6> <button class="btn btn-primary btn-sm send" (click)="submit()">Submit</button>
        <textarea style="width: 100%" rows="6" [(ngModel)]="text"></textarea>
    </div>
</div>

<div class="row" *ngIf="isVoting">
    <div class="col-12">
        <h6>Submission of new entries is currently disabled!</h6> <button class="btn btn-primary btn-sm send"
            (click)="goToVote()">Vote</button>
    </div>
</div>