<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 col-12 text-center mx-auto">
            <h1 class="font-weight-bold">Coming Soon.</h1>
            <br>
            <h3 class="font-weight-bold">The first timewriter story is launching very soon.</h3>
            <br>
            <p>While we are preparing a new scribble for you, follow <a href="https://www.twitter.com/timewriter_"
                    target="_blank" title="TimeWriter on Twitter">@timewriter_</a> for more information about the start date.</p>
        </div>
    </div>
</div>