<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 col-12 text-center mx-auto">
            <h3 class="font-weight-bold">We are preparing a new Event</h3>
            <p>While we are preparing a new scribble for you, follow <a href="https://www.twitter.com/timewriter_"
                    target="_blank" title="TimeWriter on Twitter">@timewriter_</a> for more information about start and
                duration of the
                event</p>
        </div>
    </div>
</div>