.vote-container {
    position: relative;
    .vote-body {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 10;

        div {
            float: left;
            margin-left: 1rem;

            &.vote-action {
                margin-top: -0.2rem;
                cursor: pointer;
            }
        }
    }
}

.titleText {
    margin-top: 50px;
}

.story-icon {
    position: absolute;
    top: 140px;
    right: 30px;
    z-index: 1;
    
    a {
        font-size: x-large;
    }
}