<section #about class="section-space-padding pattern-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-us">
                    <h1>What is <span>TimeWriter?</span></h1>

                    <h2>A social experiment in collaborative writing of an infinite story expanding forever into the
                        past and the future.</h2>
                    <div class="more">
                        <a href="https://badmonky.notion.site/Time-Writer-Wiki-5afb9765d4da4b22b03be3c7858985e1"
                            target="_blank" title="TimeWriter Knowledgebase">Learn More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>