<div class="header-top-area" [ngClass]="{'bg-dark': isDark, 'bg-light': !isDark}">
    <nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{'bg-dark m-1': isDark, 'bg-light m-4': !isDark}">
        <div class="container">
            <div class="logo">
                <a href="/">
                    Time Writer
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="javascript:void(0)"
                            (click)="scrollTo(home)">Home <i class="mdi mdi-circle-small"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" (click)="scrollTo(about)">What it is? <i
                                class="mdi mdi-circle-small"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link discord" href="https://discord.com/invite/Rh4U4uuTmW" target="_blank">
                            <i class="mdi mdi-discord"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Menu Section End -->
<!-- Home Section Start -->
<section #home class="home-section-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Home Section Heading Start -->
                <div class="header-section">
                    <h1>Rewrite history <br>and predict the future</h1>
                </div>
            </div>
            <div class="col-12 offset-md-1 col-md-10">
                <object data="assets/images/writer.svg" type="image/svg+xml" class="hero-image mt-4 mb-4">
                </object>
            </div>
        </div>
    </div>
</section>

<section #about class="section-space-padding pattern-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-us">
                    <h1>What is <span>TimeWriter?</span></h1>

                    <h2>A social experiment in collaborative writing of an infinite story expanding forever into the
                        past and the future.</h2>
                    <div class="more">
                        <a href="https://badmonky.notion.site/Time-Writer-Wiki-5afb9765d4da4b22b03be3c7858985e1"
                            target="_blank" title="TimeWriter Knowledgebase">Learn More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 uipasta-credit column-one">
                <p>Follow us on Twitter <a href="https://www.twitter.com/timewriter_" target="_blank"
                        title="TimeWriter on Twitter">@timewriter_</a></p>
            </div>
        </div>
    </div>
</footer>