<!-- Menu Section End -->
<!-- Home Section Start -->
<section #home>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Home Section Heading Start -->
                <div class="header-section">
                    <h1>Rewrite <span class="color-red">history</span> <br>and predict the <span class="color-red">future</span></h1>
                </div>
            </div>
            <div class="col-12 offset-md-1 col-md-10">
                <object data="assets/images/writer.svg" type="image/svg+xml" class="hero-image mt-4 mb-4">
                </object>
            </div>
        </div>
    </div>
</section>

<section #about>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-us">
                    <h2>What is <span>TimeWriter?</span></h2>

                    <h2>A social experiment in collaborative writing of an infinite story expanding forever into the
                        past and the future.</h2>
                    <div class="more">
                        <a href="https://badmonky.notion.site/Time-Writer-Wiki-5afb9765d4da4b22b03be3c7858985e1"
                            target="_blank" title="TimeWriter Knowledgebase">Learn More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>