<!-- Menu Section End -->
<!-- Home Section Start -->
<section #home>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Home Section Heading Start -->
                <div class="header-section">
                    <h1>Rewrite <span class="color-red">history</span> <br>and predict the <span class="color-red">future</span></h1>
                </div>
            </div>
            <div class="col-12 offset-md-1 col-md-10">
                <object data="assets/images/writer.svg" type="image/svg+xml" class="hero-image mt-4 mb-4">
                </object>
            </div>
        </div>
    </div>
</section>

<section #about>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-us">
                    <h2>What is <span class="color-red">TimeWriter?</span></h2>
                    <h2>A social experiment in collaborative writing of an infinite story. Powered by NFTs, Governed by a DAO</h2>
                    <h4>
                        ♾️ Writing on chain♾️<br>
                        📜 Submit story suggestions 📜<br>
                        <!-- 💰 Bid in silent auction to enter submission💰<br> -->
                        🗳️ Votes on story submissions 🗳️ <br>
                        🥳 Winners recesive NFTs and become DAO members 🥳<br>
                        <!-- 🏦 Proceeds distributed to DAO members & the treasury 🏦<br> -->
                    </h4>
                    <br>
                    <h5>Timewriter Season Zero (Beta) is currently ongoing. <br> Want to participate?</h5>
                    <div class="more">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" type="button" (click)="navigate('scribble', true)"><i class="mdi mdi-circle-small"></i> Scribble <i class="mdi mdi-circle-small"></i></a>
                        <!-- <a class="nav-link" href="javascript:void(0)" (click)="navigate('scribble', true)"><i class="mdi mdi-circle-small"></i> Scribble Now <i class="mdi mdi-circle-small"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>